#current-location {
  padding: 15px 25px;
  background: #83beec;
  border: 1px solid #000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
#current-location:hover {
  background: #fff;
  cursor: pointer;
}
