.current {
  font-size: 25px;
}

.currentTemp {
  font-size: 50px;
}
@media (max-width: 400px) {
  .current-temp {
    font-size: 40px;
  }
  .current {
    font-size: 18px;
    padding-top: 20px;
  }
}
