body {
  font-family: sans-serif;
}
.headings {
  padding: 0px 0px 0px 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  margin: 50px auto;
  max-width: 700px;
  border: 1px solid grey;

  top: 50px;
}

.day {
  font-size: 30px;
}
.forecastIcon {
  font-size: 30px;
}
@media (max-width: 400px) {
  .container {
    border: none;
  }
}

#weather-forecast {
  text-align: center;
}
