.degrees {
  position: relative;
  top: -25px;
  font-size: 15px;
  font-weight: 500;
}
.working {
  color: #000;
  cursor: default;
}
.degrees-celcius {
  text-decoration: none;
}
.degrees-fahrenheit {
  text-decoration: none;
}
